@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap');

:root {
    --accent: #6bf;
    --grey: #779;
    --black: rgb(1, 4, 9);
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    background: var(--black);
    color: #eee;
}

/* general stuff */
h1 {
    margin: 0;
    font-weight: 900;
}

a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

.center {
    width: min(850px, calc(100% - 20px));
}

/* header/hero */
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    position: relative;
    overflow: hidden;
    height: 350px;
    color: white;
    font-weight: 700;
}

header > img {
    position: absolute;
    width: 110%;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    filter: brightness(0.5) blur(5px);
    z-index: -1;
}

nav {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: center;
}

/* image gallery class */
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
}

.gallery img {
    height: 300px;
    border-radius: 6px;
}
